<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Slacker News</title>

    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>


 <div class="nav-container cf">
    <ul class="nav">
      <li id="logo"> Y </li>
      <li><a href="/"><strong>Hacker News</strong></a></li>
      <li>new &nbsp; |</li>
      <li>comments &nbsp; |</li>
      <li>ask &nbsp; |</li>
      <li>jobs &nbsp; |</li>
      <li> <a href= <%="/articles/new" %> > submit </a> </li>
    </ul>

    <ul class="logger">
    <li id="login"> login</li>
    </ul>
  </div>

  <div class="content-list">

  <% @articles_info.each do |article| %>
    <% if article[0]==@article_id %>
      <p>&#9650;<a href= <%= "#{article[1]}" %> target=_blank> <%= article[2] %> </a>
      <%= "(#{article[1].slice( /(.*?(.com|.net|.io|.gov|.org))/ ) } )" %></p>

      <p class="points"> <%= "Submitted at #{(Time.parse(article[4])).strftime("%c")}" %> </p>
    <% end %>
  <% end %>

  <div class="add-comment">

  <p><%= @message %></p>

  <form action= <%= "/articles/#{@article_id}/comments" %> method="post">
    <label for="user">Username: </label>
    <br>
    <br>
    <input type="text" name="user" id="user"/>
    <br>
    <br>
    <label for="comment">Comment: </label>
    <br>
    <textarea name="comment" id="comment" rows="8" cols="60">
    </textarea>
    <br>
    <input type="submit" Value="add comment"/>

  </form>
  </div>


  <div class="all-comments">
    <ul>
      <% if @comments != nil %>
        <% @comments.each do |comment| %>
              <li>&#9650; <%= "#{comment[1]} posted on #{(Time.parse(comment[4])).strftime("%c")}" %><br>
              <span class="news-title">
              <%= comment[3] %>
              </span>
              <p>Comment above</p>
               </li>
        <% end %>

      <% end %>
    </ul>
  </div>
  </div>


  <footer>
    <ul class="footer">
      <li>Lists &nbsp; |</li>
      <li>RSS &nbsp; |</li>
      <li>Bookmarklet &nbsp; |</li>
      <li>Guidelines &nbsp; |</li>
      <li>FAQ &nbsp; |</li>
      <li>DMCA &nbsp; |</li>
      <li>News News &nbsp; |</li>
      <li>Feature Requests &nbsp; |</li>
      <li>Bugs &nbsp; |</li>
      <li>YCombinator &nbsp; |</li>
      <li>Apply &nbsp; |</li>
      <li>Library</li>
    </ul>

    <div class="search-container">
      <form>
        <label>Search</label>
        <input type="search" name="search">
      </form>
    </div>

  </footer>

  </body>
  </html>
