<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Slacker News</title>

    <link rel="stylesheet" href="styles.css">
  </head>

  <body>

   <div class="nav-container">
    <ul class="nav">
      <li id="logo"> Y </li>
      <li><a href="/"><strong>Hacker News</strong></a></li>
      <li>new &nbsp; |</li>
      <li>comments &nbsp; |</li>
      <li>ask &nbsp; |</li>
      <li>jobs &nbsp; |</li>
      <li> <a href= <%="/submit" %> > submit </a> </li>
    </ul>
    <!-- Why the heck does login pop out of the nav bar only when I refresh (not 1st navigate to) the submit page? -->
    <ul class="logger">
    <li id="login"> login</li>
    </ul>
  </div>

    <div class="article-submitter">
    <form action="/submit" method="post">
        <label for="title">Submit Article Title: </label>
        <input type="text" name="title" id="title" value="<%= @title %>"/>
        <br>
        <label for="url">Submit Article Url: </label>
        <input type="text" name="url" id="url" value="<%= @url %>"/>
        <br>
        <label for="description">Submit Article Description: </label>
        <input type="text" name="description" id="description" value="<%= @description %>" />
        <br>
        <br>
        <input type="submit" value="Submit" />

    </form>
    </div>

    <p><%= @message %></p>

  </body>
  </html>
